*{
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    background-image: url("../ciudadMedieval.jpg");
    background-size: fill;
    background-repeat: no-repeat;
}
.View{
    width: 60vw;
    height: 80vh;
    padding: 10px 0px 10px 10px;
    margin-left: calc(20vw - 10px);
    margin-top: calc(10vh - 10px);
    background: #252525;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(240, 169, 37);
}



.consoleInput>input{
    width: calc(100% - 10px);
    height: 30px;
    outline: none;
    padding-left: 5px;
    background: #353535;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
}


